*{
    margin: 0;
    padding: 0%;
    transition: all 0.5s ease ;
    font-family: 'Spartan','Tajawal', sans-serif;
}
html{
    scroll-behavior: smooth;
}
li{
    list-style: none;
}

body{
    background-color: #e5dfdf;
}
#navbar{
    display: flex;
    background-color: white;
    flex-direction: column;
    width:22%;
    height: 100vh;
    position: fixed;
    user-select: none;

    transition: all 0.5s ease;
    box-shadow: 0 4px 10px 8px rgba(2, 2, 2, 0.2);
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    transition: all 0.5s ease;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #fa163f;
    transition: all 0.5s ease;
    border-radius:3px;
    box-shadow: inset 0 0 5px grey;
}
  
  /* Handle on hover */
#slider{
    display: none;
}
@media screen and (max-width:800px){
    #slider{
        display: flex;
        flex-direction: column;
        width: 25%;
        opacity: 1;
        margin: 0 auto;
        transition: all 0.5s ease;
        transform: translateY(140px
        );
    }
    #slider li{
        transition: all 0.5s ease;
        border-radius: 5px;
        height: 15px;
        text-align: center;
        font-size: 20px;
        font-weight: bolder;
    }
    #thelinks{
        display: block;
        transition: all 0.8s ease;
        transform: translateX(-500px);
        position: relative;
    }
}
#title{
    text-align: center;
    cursor: pointer;
    padding: 15px;
    font-family: 'Spartan', sans-serif;
}
#navLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#navLinks li{
    list-style: none;
    padding: 15px;
    margin-top: 5.5vh;
    text-align: center;
    transition: all 0.5s ease;
    cursor: pointer;
    width: 90px;
    background-color: transparent;
    border: 5px solid transparent;
}
.links{
    transform: rotate(90deg);
}
.links:hover{
    transform: scale(1.05);
}
#liimg{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: 100%;
    transition: all 0.5s ease-in-out;
}
#navimg{
    transition:all 0.5s ease;
    margin: 0 auto;
    width: 70%;
}
#navimg:hover{
    filter: hue-rotate(180deg);
    border-radius:15px;
}
.channel{
    display:flex;
    flex-direction: column;
    float: right;
    width: 70%;
    margin: 30px;
    background-color: white;
}
#theyou{
    width: 100%;
    border-radius: 15px;
    display: block;
    margin:0 auto;
    transition: all 0.5s ease;
}
#theinst{
    width: 90%;
    display: block;
    margin: 0 auto;
    transition: all 0.5s ease;
    border-radius: 15px;
    margin-bottom:30px;
}
#theinst:hover{
    filter: blur(2px);
}
.h3{
    font-size: 25px;
    margin: 20px;
}
#habeed{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
}
#habeed li{
    list-style: none;
    margin: 15px;
}
#habeed li img{
    transition: all 0.5s ease;
    cursor: pointer;
}
#habeed li img:hover{
    transform: scale(1.05);
}
#a{
    text-decoration: none;
    transition: all 0.3s ease;
    color: #fa163f;
    width: 300px;
}
#a:hover{
    filter: hue-rotate(180deg);
    text-decoration: underline;
}
.mawdho3{
    width: 70%;
    border: 5px outset red;
    border-radius: 5px;
    outline: none;
    margin: 0 auto;
    height: 20px;
    padding: 15px;
    margin-bottom: 30px;
}
button{
    color: white;
    background-color: red;
    border: 3px outset red;
    width: 20%;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 30px;
    transition: all 0.5s ease;
}
button:hover{
    color: red;
    background-color: white;
}
.social{
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.social button{
    margin: 0 auto;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    outline: none;
    opacity: 0;
    transition: .5s ease;
    background-color:transparent;
    border: none;
    transition: all 0.5s ease;
    transform: translateY(10px);
}
.social:hover #theyou,.social:hover #theinst{
    filter: blur(2px);
}
.social:hover button{
    opacity: 1;
    color:red;
    text-decoration: underline;
    transform: translateY(0px);
}